/*
右侧绝对定位的子容器溢出且被裁剪
父容器无法自适应高度即使用了overflow
有待解决。。。。。。
*/
div {
    background-color: #eee;
    border: 1px solid #999;
    position: relative;
    margin: 20px;
}

section {
    background-color: white;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px 160px 20px 240px;
}

header {
    background-color: white;
    border: 1px solid #999;
    width: 200px;
    height: 120px;
    position: absolute;
    left: 20px;
    top: 20px;
}

aside {
    background-color: white;
    border: 1px solid #999;
    width: 120px;
    height: 420px;
    position: absolute;
    right: 20px;
    top: 20px;
}

img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

span {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}