* {
    margin: 0;
    padding: 0;
}

div {
    overflow: hidden;
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px;
}

header {
    background-color: white;
    border: 1px solid #999;
    float: left;
    width: 200px;
    height: 120px;
}

section {
    background-color: white;
    border: 1px solid #999;
    width: auto;
    padding: 20px;
    margin: 0 140px 0 220px;
}

aside {
    background-color: white;
    border: 1px solid #999;
    float: right;
    width: 120px;
    height: 420px;
}

img {
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

span {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}